body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#mybtn{
    font-size: 3em;
    padding: 5px 25px;
    border-radius: 5px;

}
.mylabels{
    font-size:3em ;

}
#label1{
    font-size: 3em;
}
#label3{
    font-size: 3em;
}
#label2{
    font-size: 3em;
}