#countLabel{
   display: block;
   text-align: center;
   font-size: 10em; 
   font-family: Helvetica;
}
#btnContainer{
    text-align: center;
}
.buttons{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: #416a9b;
    border-radius: 4px;
    cursor: pointer;
    transition: backgroun 0.25s;

}
.buttons:hover{
    background-color: #3715bd;
}